<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Nexolare Official</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/fonts.css">
<link rel="stylesheet" href="/static/css/style.css">
<link rel="shortcut icon" href="/static/favicon.png" type="image/x-icon">
</head>
<body>
    <header>
        <div id="aboveNav"></div>
        <nav class="">
            <div class="logoBox">
                <img class="logoImg" src="/static/img/logo.png" alt="Nexolare">
            </div>
            <ul>
               <li class="navItem"><a class="navLink" href="#">HOME</a></li> 
               <li class="navItem"><a class="navLink" href="#teamSection">OUR TEAM</a></li> 
               <li class="navItem"><a class="navLink" href="#contactForm">CONTACT US</a></li> 
            </ul>
            <div id="menuBtn" tabindex="-1">
                <div class="line" id="menuBtnLine1"></div>
                <div class="line" id="menuBtnLine2"></div>
                <div class="line" id="menuBtnLine3"></div>
            </div>
        </nav>
        <div id="sideMenu" class="">
            <a href="#" class="navLink">HOME</a>
            <a href="#teamSection" class="navLink">OUR TEAM</a>
            <a href="#contactForm" class="navLink">CONTACT US</a>
        </div>
        <div class="content container">
            <!-- Header content -->
            <div class="textBox">
                <div class="headingBox">
                    <span>We craft </span>
                    <span>Meaningful, Digital Experiences </span>
                    <span>to help grow your business</span>
                </div>
                <p class="desc">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium rem pariatur, temporibus aperiam ipsum, eum beatae eos, voluptas culpa explicabo incidunt modi ullam dolores vel fugiat accusamus quam amet quisquam tenetur dolorem expedita? Earum reiciendis, dolore placeat ipsam temporibus a.
                </p>
                <div class="btnBox">
                    <a class="myBtn btnLarge btnTrans btnOrange">Get Quote</a>
                </div>
            </div>
        </div>
    </header>

    <main class="">
        <section class="section" id="serviceSection">
            <h1 class="sectionHeading heading text-center">Services we offer</h1>
            <div class="content">

                <div class="serviceBox" data-aos="fade-up">
                    <div class="textBox">
                        <h2 class="serviceHeading heading">Hand Crafted Full Stack Website Development</h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste dolores minus aperiam. Autem magni dolore cumque quaerat exercitationem ad voluptas alias quod dolorum laudantium nostrum, voluptates, maxime dignissimos porro laborum. Quisquam quod cumque est maiores odit debitis magnam nostrum harum.</p>
                    </div>
                    <div class="imgBox">
                        <img class="serviceImg" src="/static/img/MERN.webp" alt="node js">
                        <img class="serviceImg" src="/static/img/django.png" alt="node js">
                    </div>
                </div>
    
                <div class="serviceBox" data-aos="fade-up">
                    <div class="textBox">
                        <h2 class="serviceHeading heading">Cross Platform Mobile App Development using <span class="">Flutter</span></h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste dolores minus aperiam. Autem magni dolore cumque quaerat exercitationem ad voluptas alias quod dolorum laudantium nostrum, voluptates, maxime dignissimos porro laborum. Quisquam quod cumque est maiores odit debitis magnam nostrum harum.</p>
                    </div>
                    <div class="imgBox">
                        <img class="serviceImg lrg" src="/static/img/flutter.png" alt="node js">
                    </div>
                </div>

                <div class="serviceBox" data-aos="fade-up">
                    <div class="textBox">
                        <h2 class="serviceHeading heading">Restul API Development <span class=""></span></h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste dolores minus aperiam. Autem magni dolore cumque quaerat exercitationem ad voluptas alias quod dolorum laudantium nostrum, voluptates, maxime dignissimos porro laborum. Quisquam quod cumque est maiores odit debitis magnam nostrum harum.</p>
                    </div>
                    <div class="imgBox">
                        <img class="serviceImg lrg" src="/static/img/api.png" alt="node js">
                    </div>
                </div>

            </div>

        </section>

        <section class="section" id="teamSection">
            <h1 class="sectionHeading heading text-center">Meet Our Passionate Team</h1>
            <div class="content">
                <div id="teamSlider">
                    <div class="slidesBox">
                        <div class="slide" id="" data-aos="fade-up">
                            <div class="dpBox">
                                <img src="/static/img/team/salman.jpg" class="teamDpImg" alt="profile picture">
                            </div>
                            <h2 class="heading teamNameHeading">M. Salman</h2>
                            <div class="designation">Backend Engineer</div>
                            <div class="desc">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque voluptates reprehenderit praesentium natus officiis necessitatibus libero repellendus culpa dolorum, perspiciatis deleniti labore commodi rem sed iste est odio, perferendis optio!</div>
                        </div>
                        <div class="slide" id="" data-aos="fade-up">
                            <div class="dpBox">
                                <img src="/static/img/team/murtaza.jpg" class="teamDpImg" alt="profile picture">
                            </div>
                            <h2 class="heading teamNameHeading">Ali Murtaza</h2>
                            <div class="designation">Projects Manager</div>
                            <div class="desc">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque voluptates reprehenderit praesentium natus officiis necessitatibus libero repellendus culpa dolorum, perspiciatis deleniti labore commodi rem sed iste est odio, perferendis optio!</div>
                        </div>
                        <div class="slide" id="" data-aos="fade-up">
                            <div class="dpBox">
                                <img src="/static/img/team/ali2.jpg" class="teamDpImg" alt="profile picture">
                            </div>
                            <h2 class="heading teamNameHeading">Ali Muhammad</h2>
                            <div class="designation">Digital Marketing Expert</div>
                            <div class="desc">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque voluptates reprehenderit praesentium natus officiis necessitatibus libero repellendus culpa dolorum, perspiciatis deleniti labore commodi rem sed iste est odio, perferendis optio!</div>
                        </div>
                        <div class="slide" id="" data-aos="fade-up">
                            <div class="dpBox">
                                <img src="/static/img/dp.jfif" class="teamDpImg" alt="profile picture">
                            </div>
                            <h2 class="heading teamNameHeading">Mr. Naveed</h2>
                            <div class="designation">Flutter Developer</div>
                            <div class="desc">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque voluptates reprehenderit praesentium natus officiis necessitatibus libero repellendus culpa dolorum, perspiciatis deleniti labore commodi rem sed iste est odio, perferendis optio!</div>
                        </div>
                    </div>
                    <!-- <div class="dotBox">
                        <a class="dot filled" href="#slide1"></a>
                        <a class="dot" href="#slide2"></a>
                        <span class="dot"></span>
                    </div> -->
                </div>
            </div>
        </section>

        <section class="section">
            <h1 class="sectionHeading heading text-center">Contact Us</h1>
            <form action="" id="contactForm">
                <div class="rowBox">
                    <input type="text" class="input" placeholder="Your Name">
                    <input type="email" class="input" placeholder="Your Email">
                </div>
                <textarea class="input" name="" id="" cols="30" rows="10" placeholder="Your Messege for us"></textarea>
                <button type="button" class="myBtn btnOrange">Submit</button>
            </form>
        </section>
    </main>

    <footer id="footer">
        <div class="content">
            <div class="columnBox">
                <div class="logoBox">
                    <img src="/static/img/logo.png" alt="Nexolare logo" class="logoImg">
                </div>
                <div class="desc">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, repudiandae quod! Nesciunt quae hic labore quos ad iste, id ducimus praesentium, expedita deserunt ex delectus blanditiis, fuga nemo molestias quaerat.
                </div>
                <div class="socialBox">
                    <a href="https://www.facebook.com/profile.php?id=61558658882118" target="_blank" class="socialLink">
                        <i class="fa-brands fa-facebook socialIcon"></i>
                    </a>
                    <i class="fa-brands fa-github socialIcon"></i>
                    <i class="fa-brands fa-whatsapp socialIcon"></i>
                </div>
            </div>
            <div class="columnBox">
                <h2 class="heading columnHeading">Contact Us</h2>
                <div class="columnBoxContent">
                    <div class="columnItem">
                        <i class="fa-solid fa-location-dot"></i>
                        <span>Sahiwal, Pakistan</span>
                    </div>
                    <div class="columnItem">
                        <i class="fa-regular fa-envelope"></i>
                        <span>info@nexolare.com</span>
                    </div>
                    <div class="columnItem">
                        <i class="fa-solid fa-phone"></i>
                        <span>+92 318 6456552</span>
                    </div>
                    <!-- <div class="columnItem">
                        <i class="fa-brands fa-whatsapp"></i>
                        <span>+92 318 6456552</span>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="bottomBox text-center">Copyright &copy; 2024 Nexolare | All Rights Reserverd</div>
    </footer>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/7d3f73a100.js" crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="/static/js/script.js"></script>
<script>
    AOS.init({ once : true });
</script>
</html>